{% extends 'base.html' %}
{% load static %}


{% block content %}
<style media="screen">
  input{
    width:300px;
    height:30px;
    text-align: center;

  }
</style>


<div class="jumbotron">
<center>

  <div class="container">


    <h1>User Login</h1>
    <br>



<form class="" action="{% url 'ChristKart:user_login' %}" method="post">
  {% csrf_token %}
<input type="text" name="username" placeholder="Enter username">
<input type="password" name="password" placeholder="Enter Password">

  <input type="submit" name="" value="Login" class="btn btn-primary">


</form>








  </div>
  </center>

</div>


{% endblock %}
